@import url(reset.css);
@import url(adaptive.css);

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/lato-v17-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/lato-v17-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v17-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title:after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* header styles starts */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding-bottom: 15px;
  z-index: 999;
}

.header-active {
  background: rgba(14, 29, 40, .9);
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 82px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: .75;
}

.header-burger {
  display: none;
  width: 40px;
  height: 20px;
  position: relative;
}

.burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.burger-line-first {
  top: 0;
}

.burger-line-second {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-third {
  bottom: 0;
}

/* header styles end */
/* intro styles start */

.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 372px;
}

.intro-title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}

.intro-subtitle {
  max-width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form-info {
  display: flex;
  flex-wrap: wrap;
}

.search-form-field {
  width: 297px;
  background: transparent url(../img/svg/cyrcle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
}

.search-form-field,
.search-form-field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form-submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
  background: #0b59bf;
}

/* intro styles end */
/* benefits styles start */

.benefits {
  margin-bottom: 131px;
}

.benefits-wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits-title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits-card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits-card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits-card-thumb {
  display: block;
}

.benefits-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits-card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits-card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
  transition: all .3s;
}

.benefits-card-more:hover,
.benefits-card-more:focus {
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

/* benefits styles end */
/* places styles start */

.places {
  margin-bottom: 131px;
}

.places-caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;

}

places-title {
  margin-right: 15px;
}

.places-view-all {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
  transition: all .2s;
}

.places-view-all:hover,
.places-view-all:focus {
  opacity: .65;
}

.places-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places-card {
  position: relative;
  overflow: hidden;
}

.places-card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places-card:hover .places-card-picture {
  transform: scale(1.05);
}

.places-card-title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places-card-size-lg {
  grid-column: span 3;
}

.places-card-size-sm {
  grid-column: span 2;
}

.places-card-picture {
  width: 100%;
  transition: .15s all;
}

.places-card-picture-size-lg {
  height: 354px;
  object-fit: cover;
}

.places-card-picture-size-sm {
  height: 283px;
  object-fit: cover;
}

.places-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* places styles end */
/* tours styles start */

.tours {
  margin-bottom: 139px;
}

.tours-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour-info {
  padding-left: 47px;
}

.tour-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour-descr {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour-more {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
  transition: all .2s;
}

.tour-more:hover,
.tour-more:focus {
  opacity: .65;
}

/* tours styles end */
/* top places styles start */

.top {
  margin-bottom: 86px;
}

.top-title {
  margin-bottom: 54px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top-card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top-card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.top-card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);
  padding: 0 25px;
}

.top-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}

.top-card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 20px;
  background: url(/img/svg/heart-icon.svg) no-repeat right;
  margin-right: 14px;
}

.top-card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(/img/svg/comment-icon.svg) no-repeat right;
}

.top-card-descr {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top-card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top-card-more:hover,
.top-card-more:active,
.top-card-more:focus {
  background: #0b59bf;
}

/* top places styles end */
/* videos styles start */

.videos {
  width: 100%;
}

.videos-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video-item {
  padding-top: 56.25%;
}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* videos styles end */
/* footer styles start */

.footer {
  background: #0E1D28;
  padding: 119px 0;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  width: 50%;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer-menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer-menu-link {
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.footer-menu-link:hover,
.footer-menu-link:active,
.footer-menu-link:focus {
  opacity: 0.75;
}

/* footer styles end */
/* media start */

@media screen and (max-width: 960px) {
  .search-form-field {
    margin-bottom: 25px;
  }

  .benefits {
    margin-bottom: 75px;
  }

  .benefits-card {
    margin-bottom: 60px;
  }

  .benefits-cards {
    padding: 0 15px;
    grid-column-gap: 35px;
  }

  .benefits-title {
    padding: 55px 15px;
  }

  .benefits-wrap {
    box-shadow: none;
  }

  .places-card-size-lg {
    grid-column: span 6;
  }

  .places-card-size-sm {
    grid-column: span 6;
  }

  .tours-tour {
    grid-column-gap: 35px;
  }

  .tour-info {
    padding-left: 0;
  }

  .tour-title {
    margin-bottom: 15px;
  }

  .tour-descr {
    margin-bottom: 15px;
  }

  .top-cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }

  .top-card {
    grid-column: span 3;
  }

  .top-card-pic {
    margin-bottom: 25px;
  }

  .footer {
    padding: 60px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 25px;
  }

  .section-title:after {
    width: 78px;
  }

  .header-burger {
    display: block;
  }

  .header-wrapper {
    padding-top: 28px;
  }

  .header-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
  }

  .header-nav-active {
    transform: translateX(0);
  }

  .header-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header-item:last-child {
    margin-bottom: 0;
  }

  .header-link {
    font-size: 42px;
    line-height: 48px;
  }

  .header-nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header-nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }

  .header-nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header-nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .intro {
    padding-top: 125px;
  }

  .intro-title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro-subtitle {
    font-size: 16px;
  }

  .search-form-field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(../img/svg/cyrcle-icon.svg) no-repeat left 2px;
  }

  .search-form-field::placeholder {
    font-size: 16px;
  }

  .search-form-submit {
    width: 100%;
  }

  .benefits {
    margin-bottom: 36px;
  }

  .benefits-card {
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits-card-pic {
    margin-bottom: 20px;
  }

  .benefits-card-title {
    margin-bottom: 12px;
  }

  .benefits-card-desc {
    margin-bottom: 20px;
  }

  .places {
    margin-bottom: 76px;
  }

  .places-card-picture-size-lg,
  .places-card-picture-size-sm {
    height: 230px;
  }

  .places-view-all {
    margin-bottom: 25px;
  }

  .places-caption {
    margin-bottom: 0;
  }

  .tours {
    margin-bottom: 76px;
  }

  .tour-pic,
  .tour-info {
    grid-column: span 2;
  }

  .tour-pic {
    margin-bottom: 12px;
  }

  .tour-pic-mob-first {
    grid-row-start: -1;
  }

  .tours-tour {
    margin-bottom: 50px;
  }

  .top {
    margin-bottom: 76px;
  }

  .top-card {
    grid-column: span 6;
  }

  .top-card-stats {
    max-width: 386px;
  }

  .top-card-descr {
    margin-bottom: 15px;
  }

  .footer-logo {
    display: none;
    width: 100%;
    margin-bottom: 24px;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-menu {
    width: 60px;
    margin-bottom: 24px;
  }

}

@media screen and (max-width: 500px) {
  .header-nav {
    padding: 75px 30px;
  }
}

/* media end */